@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<MyBlog.Models.Post>
@using MyBlog.Models

@{
    Category category = ViewBag.DanhMuc;
    ViewData["Title"] = category.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-header">
    <div class="container-xl">
        <div class="text-center">

            <h1 class="mt-0 mb-2">Danh mục</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <li class="breadcrumb-item active" aria-current="page">@item.Cat.CatName</li>
                            break;
                        }
                    }
                   
                </ol>
            </nav>

        </div>
    </div>
</section>

<!-- section main content -->
<section class="main-content">
    <div class="container-xl">

        <div class="row gy-4">

            <div class="col-lg-8">

                <div class="row gy-4">
                    @if (Model != null && Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            string url = $"/{item.Alias}.html";
                            <div class="col-sm-6">
                                <!-- post -->
                                <div class="post post-grid rounded bordered">
                                    <div class="thumb top-rounded">
                                        <a href="/@item.Cat.Alias" class="category-badge position-absolute">@item.Cat.CatName</a>
                                        <span class="post-format">
                                            <i class="icon-picture"></i>
                                        </span>
                                        <a href="@url">
                                            <div class="inner">
                                                <img src="~/images/posts/@item.Thumb" alt="@item.Title" />
                                            </div>
                                        </a>
                                    </div>
                                    <div class="details">
                                        <ul class="meta list-inline mb-0">
                                            <li class="list-inline-item"><a href="#"><class ="author" alt="@item.Title" />@item.Author</a></li>
                                            <li class="list-inline-item">@item.CreatedDate.Value.ToString("yyyy MMMM dd")</li>
                                        </ul>
                                        <h5 class="post-title mb-3 mt-3"><a href="@url">@item.Title</a></h5>
                                        <p class="excerpt mb-0">@item.Scontents</p>
                                    </div>
                                    <div class="post-bottom clearfix d-flex align-items-center">
                                        <div class="social-share me-auto">
                                            <button class="toggle-button icon-share"></button>
                                            <ul class="icons list-unstyled list-inline mb-0">
                                                @await Component.InvokeAsync("Social")
                                            </ul>
                                        </div>
                                        <div class="more-button float-end">
                                            <a href="@url"><span class="icon-options"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>

                <div aria-label="Page navigation example">
                    <ul class="pagination">
                        <pager class="pager-container" options="@PagedListRenderOptions.Bootstrap4PageNumbersOnly" list="@Model" asp-route-Alias="@category.Alias" asp-net="" asp-controller="Posts" asp-action="List" />
                    </ul>
                </div>

            </div>


            <div class="col-lg-4">

                <!--sidebar-->
                <div class="sidebar">
                    <!--widget about-->
                    <div class="widget rounded">
                        <div class="widget-about data-bg-image text-center" data-bg-image="~/images/map-bg.png">
                            <img src="~/images/logo.svg" alt="logo" class="mb-4" />
                            <p class="mb-4">Hello, We’re content writer who is fascinated by content fashion, celebrity and lifestyle. We helps clients bring the right content to the right people.</p>
                            <ul class="social-icons list-unstyled list-inline mb-0">
                                @await Component.InvokeAsync("Social")
                            </ul>
                        </div>
                    </div>

                    <!-- widget popular posts -->
                    @await Component.InvokeAsync("Popular")

                    <!-- widget categories -->
                    <div class="widget rounded">
                        <div class="widget-header text-center">
                            <h3 class="widget-title">Danh mục bài viết</h3>
                            <img src="~/images/wave.svg" class="wave" alt="wave" />
                        </div>
                        @await Component.InvokeAsync("Categories")

                    </div>

                    <!-- widget post carousel -->
                    @* <div class="widget rounded">
                    <div class="widget-header text-center">
                    <h3 class="widget-title">Celebration</h3>
                    <img src="~/images/wave.svg" class="wave" alt="wave" />
                    </div>
                    <div class="widget-content">
                    <div class="post-carousel-widget">
                    <!-- post -->
                    <div class="post post-carousel">
                    <div class="thumb rounded">
                    <a href="category.html" class="category-badge position-absolute">How to</a>
                    <a href="blog-single.html">
                    <div class="inner">
                    <img src="~/images/widgets/widget-carousel-1.jpg" alt="post-title" />
                    </div>
                    </a>
                    </div>
                    <h5 class="post-title mb-0 mt-4"><a href="blog-single.html">5 Easy Ways You Can Turn Future Into Success</a></h5>
                    <ul class="meta list-inline mt-2 mb-0">
                    <li class="list-inline-item"><a href="#">Katen Doe</a></li>
                    <li class="list-inline-item">29 March 2021</li>
                    </ul>
                    </div>
                    <!-- post -->
                    <div class="post post-carousel">
                    <div class="thumb rounded">
                    <a href="category.html" class="category-badge position-absolute">Trending</a>
                    <a href="blog-single.html">
                    <div class="inner">
                    <img src="~/images/widgets/widget-carousel-2.jpg" alt="post-title" />
                    </div>
                    </a>
                    </div>
                    <h5 class="post-title mb-0 mt-4"><a href="blog-single.html">Master The Art Of Nature With These 7 Tips</a></h5>
                    <ul class="meta list-inline mt-2 mb-0">
                    <li class="list-inline-item"><a href="#">Katen Doe</a></li>
                    <li class="list-inline-item">29 March 2021</li>
                    </ul>
                    </div>
                    <!-- post -->
                    <div class="post post-carousel">
                    <div class="thumb rounded">
                    <a href="category.html" class="category-badge position-absolute">How to</a>
                    <a href="blog-single.html">
                    <div class="inner">
                    <img src="~/images/widgets/widget-carousel-1.jpg" alt="post-title" />
                    </div>
                    </a>
                    </div>
                    <h5 class="post-title mb-0 mt-4"><a href="blog-single.html">5 Easy Ways You Can Turn Future Into Success</a></h5>
                    <ul class="meta list-inline mt-2 mb-0">
                    <li class="list-inline-item"><a href="#">Katen Doe</a></li>
                    <li class="list-inline-item">29 March 2021</li>
                    </ul>
                    </div>
                    </div>
                    <!-- carousel arrows -->
                    <div class="slick-arrows-bot">
                    <button type="button" data-role="none" class="carousel-botNav-prev slick-custom-buttons" aria-label="Previous"><i class="icon-arrow-left"></i></button>
                    <button type="button" data-role="none" class="carousel-botNav-next slick-custom-buttons" aria-label="Next"><i class="icon-arrow-right"></i></button>
                    </div>
                    </div>
                    </div>*@

                    <!-- widget advertisement -->
                    <div class="widget no-container rounded text-md-center">
                        <span class="ads-title">- Sponsored Ad -</span>
                        <a href="#" class="widget-ads">
                            <img src="~/images/ads/ad-360.png" alt="Advertisement" />
                        </a>
                    </div>

                    <!-- widget tags -->
                    <div class="widget rounded">
                        <div class="widget-header text-center">
                            <h3 class="widget-title">Tag Clouds</h3>
                            <img src="~/images/wave.svg" class="wave" alt="wave" />
                        </div>
                        <div class="widget-content">
                            <a href="#" class="tag">#Trending</a>
                            <a href="#" class="tag">#Video</a>
                            <a href="#" class="tag">#Featured</a>
                            <a href="#" class="tag">#Gallery</a>
                            <a href="#" class="tag">#Celebrities</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>